---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: ksphere-demo-map
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ksphere-demo-map
  template:
    metadata:
      labels:
        app: ksphere-demo-map
    spec:
      containers:
      - image: "$({ .imageName })"
        name: ksphere-demo-map
        command: ["flask"]
        args: ["run", "--host=0.0.0.0"]
        ports:
        - containerPort: 5000
        env:
        - name: FLASK_APP
          value: "/map.py"
        - name: CASSANDRA_ENDPOINT
          value: "cassandra-node-0.cassandra-svc.default.svc.cluster.local"
        - name: CASSANDRA_KEYSPACE
          value: "images"
---
apiVersion: v1
kind: Service
metadata:
  name: ksphere-demo-map
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: ksphere-demo-map
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    certmanager.k8s.io/issuer: letsencrypt-issuer
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
  generation: 1
  labels:
    app.kubernetes.io/instance: ksphere-demo-map
    app.kubernetes.io/managed-by: Tiller
    app.kubernetes.io/name: ksphere-demo-map
  name: ksphere-demo-map
spec:
  rules:
  - http:
      paths:
      - backend:
          serviceName: ksphere-demo-map
          servicePort: 80
        path: /ksphere-demo-map
